.pay-system {
    margin: 0 0 1.5em 0;
}
.pay-system .pay-system-description {
    overflow: hidden;
    zoom: 1;
    background-color: #e9edea;
    padding: 5px;
    margin: 20px 0;
}
.pay-system .pay-system-description img {
    border: none !important;
}
.tszh-payment-select-box {
    margin-bottom: 10px;
}
.tszh-payment-select-box__label {
    font-size: 14px;
    margin-right: 20px;
    width: 160px;
    display: inline-block;
}
.tszh-payment-select-box__select {
    padding: 5px 10px;
}