.logo__image {
  padding-top: 24px;
  float: left;
}
.logo__text {
  font-size: 30px;
  color: #2b5f93;
  font-weight: bold;
  line-height: 40px;
  position: relative;
  left: 8px;
  overflow: hidden;
  height: 110px;
  margin-bottom: 30px;
  padding-top: 30px;
  align-items: center;
  display: grid;
}

.logo a{
  text-decoration: none;
  color: inherit;
}

.numbers {
  overflow: hidden;
}
.numbers__number {
  font-size: 24px;
  color: #2b5f93;
  line-height: 140px;
  text-align: right;
}
.numbers__number_bold {
  font-weight: bold;
}

.contacts {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #afc8e0;
  background-color: #e7edf3;
  margin-top: 50px;
  padding-bottom: 40px;
}
.contacts__block {
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
.contacts__title{
  font-size: 20px;
  color: #2b5f93;
  margin-top: 40px;
  text-align: center;
  width: 330px;
  font-weight: bold;
}
.information__block {
  float: left;
  width: 33.3333%;
}
.contacts__items {
  width: 100%;
  float: left;
  overflow: hidden;
  color: #333;
}
.bold-hr {
  width: 100%;
  border: none;
  background-color: #ffbb42;
  color: #ffbb42;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 35px;
}
.information {
  overflow: hidden;
  float: left;
}
.contacts__item {
  float: left;
}
.contacts__name {
  color: #2b5f93;
  text-decoration: underline;
  font-weight: bold;
}
.contacts__item {
  font-size: 16px;
}

.footer {
  width: 100%;
  overflow: hidden;
  background-color: #709dca;
  /*height: 55px;*/
  border-top: 1px solid #a8c2dd;
}
.footer__box {
  overflow: hidden;
  margin: 0 auto;
}
.footer__text {
  font-size: 14px;
  color: #ffffff;
  float: left;
  line-height: 55px;
}
.footer__payservice {
  font-size: 14px;
  color: #ffffff;
  float: right;
  margin-top: 7px;
}
.footer__payservice-text {
  width: 40%;
  float: right;
}
.footer__payservice-img {
  float: right;
  margin-top: 5px;
  margin-right: 15px;
}
.footer__pay {
  overflow: hidden;
  float: left;
}
.auth-info {
  padding-top: 100px;
  float: left;
}
.auth-info__text,
.auth-info__link {
  font-size: 16px;
  color: #ffffff;
}
.auth-info__li {
  margin-top: 10px;
}
.auth-info__link {
  text-decoration: underline;
  /*margin-left: 15px;*/
}
.auth-info__ul {
  padding: 0px;
  list-style: none;
}

h2 em{
  font-style: normal;
}