.align-center {
    text-align: center!important;
}

.aling-left {
    text-align: left!important;
}

.tarif {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    font-size: 12px!important;
    color: #555555!important;
}

.history-title {
    font-size: 16px;
    color: #3b3b3b;
    margin-bottom: 27px;
}

table.meter-info td:last-child{
    padding: 3px 0px 3px 10px;
}

table.meter-value-info th,
table.meter-value-info td {
    text-align: center;
}

.arrow {
    display: block;
    position: relative;
    width: 15px;
    height: 20px;
}

.back i.arrow {
    background: url('images/arrow-left.png');
    display: block;
    float: left;
    width: 20px;
    height: 12px;
    background-size: 18px 15px;
}

.back a {
    color: #666!important;
}