.tabs {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tabs section {
    display: none;
    /*padding: 15px;*/
    background: #ffffff;
    border: 1px solid #709dca;
}
.tabs section p {
    margin: 0 0 5px;
    line-height: 1.5;
}
.tabs__radio > input {
    display: none;
    position: absolute;
}
.tabs__radio>input+label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 14px 5px;
    /*font-weight: 600;*/
    text-align: center;
    border: 1px solid #a8a8a8;
    border-bottom: 1px solid #709dca;
    border-left: 1px solid #709dca;
    border-width: 1px 1px 1px 1px;
    background: #f9f9f9;
    border-radius: 3px 3px 0 0;
}
.tabs__radio label:hover {
    /*color: #888;*/
    cursor: pointer;
}
.tabs__radio>input + label {
    background: #e5e5e5;
    border-color: grey;
    border-bottom: 1px solid #709dca;
    font-weight: normal;
}

.tabs__radio>input:checked + label {
    color: #2b5f93;
    border-color: #709dca;
    border-bottom: 1px solid #ffffff;
    background: #ffffff;
    font-weight: bold;
}

.tabs.more1line .tabs__radio-decorate {
    border: 1px solid #709dca;
    border-bottom: none;
    text-align: center;
}
.tabs.more1line .tabs__radio-decorate ~ section {
    border: 1px solid #709dca;
    border-top: none;
}
.tabs.more1line .tabs__radio-decorate label {
    padding: 10px;
    margin: 10px 0;
    border-color: grey;
    background-color: white;
}

.tabs.more1line .tabs__radio-decorate>input:checked + label{
    border: 2px solid #ffc155;
}

@media screen and (max-width: 499px), screen and (min-width: 500px) and (max-width: 767px) and (orientation: portrait) {
    .tabs__radio>input + label:nth-of-type(n+2) {
        margin-left: 0;
    }
    .more1line .tabs__radio{
        justify-content: center;
        flex-flow: wrap;
    }
}

.tabs__radio {
    display:flex;
}
