@onlymobi: ~"screen and (max-width: 767px)";
@mobi: ~"screen and (max-width: 499px), screen and (min-width: 500px) and (max-width: 767px) and (orientation: portrait)";
@tablet: ~"screen and (min-width: 768px) and (max-width: 1199px), screen and (min-width: 500px) and (max-width: 767px) and (orientation: landscape)";
@onlyTablet: ~"screen and (min-width: 768px) and (max-width: 1199px)";
@desktop: ~"screen and (min-width: 1200px)";
@tabletDesktop: ~"screen and (min-width: 768px), screen and (min-width: 500px) and (orientation: landscape)";
.leftmenu {
    background-color: #E7EDF3;
    clear: both;
    display: inline-block;
    margin-right: 40px;
}
.leftmenu__img-common {
    background-image: url("images/common.png");
}
.leftmenu__img-analysis {
    background-image: url("images/analysis.png");
}
.leftmenu__img-history {
    background-image: url("images/history.png");
}
.leftmenu__img-print {
    background-image: url("images/print.png");
}
.leftmenu__img-payment {
    background-image: url("images/payment.png");
}
.leftmenu__img-meters {
    background-image: url("images/meters.png");
}
.leftmenu__img-requests {
    background-image: url("images/requests.png");
}
.leftmenu__img-subscriptions {
    background-image: url("images/subscriptions.png");
}
.leftmenu__img-webcam {
    background-image: url("images/webcam.png");
}
.leftmenu__img-chart {
    background-image: url("images/chart.png");
}
.leftmenu__img-access {
    background-image: url("images/access.png");
}
.leftmenu__menu {
    padding: 0;
    margin-top: 28px;
    position: relative;
    min-width: 320px;
}
.leftmenu__menu li {
    list-style-type: none;
    vertical-align: middle;
    padding: 15px;
    line-height: 25px;
    position: relative;
}
.leftmenu__img {
    width: 30px;
    height: 24px;
    background-size: 100%;
    /*position: absolute;
      top: 18px;*/
    display: inline-flex;
    vertical-align: middle;
    margin-right: 15px;
}
.leftmenu__menu li img {
    padding-right: 17px;
    vertical-align: middle;
}
.leftmenu__menu li:hover {
    background-color: #317DD3;
}
.leftmenu__menu a {
    color: #2b5f93;
    text-decoration: none;
}
.leftmenu__menu a:hover {
    color: #ffffff;
}
.leftmenu__menu-active {
    color: #ffffff;
    background-color: #317DD3;
    border-radius: 5px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 25px;
}
.leftmenu__menu-active a {
    color: #ffffff;
}
.leftmenu__menu-active img {
    width: 40px;
    heigth: 32px;
}
.leftmenu__menu-active .leftmenu__img {
    margin-left: 5px;
}
.leftmenu__menu-active .leftmenu__img,
.mobi-leftmenu__header .leftmenu__img {
    filter: brightness(2);
    -webkit-filter: brightness(2);
    -moz-filter: brightness(2);
    -o-filter: brightness(2);
    -ms-filter: brightness(200%);
    width: 40px !important;
    height: 32px !important;
    background-size: 100%;
    display: inline-flex;
    vertical-align: middle;
}
.leftmenu__menu-active {
    padding-left: 20px !important;
}
.mobi-leftmenu {
    padding-top: 20px;
    position: relative;
    display: none;
}
.mobi-leftmenu .leftmenu {
    /*position:absolute;*/
    display: none;
    margin-right: 0;
    width: 100%;
}
.mobi-leftmenu .leftmenu .leftmenu__menu {
    margin-top: 0;
    width: 100%;
}
.mobi-leftmenu .leftmenu:hover {
    display: block;
}
.mobi-leftmenu__header {
    min-width: 270px;
    color: #ffffff !important;
    background-color: #317DD3;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    line-height: 28px;
}
.mobi-leftmenu__header img {
    padding-right: 17px;
    vertical-align: middle;
    width: 40px;
    heigth: 32px;
}
.mobi-leftmenu .mobi-leftmenu__header:after {
    position: absolute;
    content: ' ';
    right: 15px;
    top: 38px;
    margin-top: 4px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ffffff;
}
.mobi-leftmenu .mobi-leftmenu__header:focus ~ .leftmenu,
.mobi-leftmenu .mobi-leftmenu__header:active ~ .leftmenu {
    display: block;
}
@media screen and (min-width: 1200px) {
    .div-flex .leftmenu {
        //height: 100%;
    }
    .leftmenu {
        width: 320px;
    }
}
@media screen and (max-width: 1199px) {
    .mobi-leftmenu {
        display: flex;
    }
}
@media @tablet {
    .mobi-leftmenu .leftmenu__menu li {
        padding: 12px;
        line-height: 25px;
    }
    .mobi-leftmenu__header {
        min-width: 320px;
    }
}
@media @mobi {
    .mobi-leftmenu {
        margin-bottom: 35px;
    }
    .mobi-leftmenu__header {
        min-width: 250px;
    }
    .mobi-leftmenu .mobi-leftmenu__header:after {
        top: 38px;
    }
    .mobi-leftmenu .leftmenu .leftmenu__menu {
        min-width: 250px;
    }
    .mobi-leftmenu .leftmenu .leftmenu__menu li {
        padding: 7px;
        line-height: 25px;
    }
}