.tabs input + label a{
	text-decoration: none !important;
	color: grey;
}
.tabs input:checked + label a{
	color: #2b5f93;
	width:50% !important;
	
}
.tabs input + label{
	padding: 0 !important;
	width:50%
}
.tabs input + label a div{
	padding: 14px 0;
}
