/*.menu-box {
    background-color: #709dca !important;
}
.menu_top, .menu__item {
    background-color: #709dca !important;
}
.dropdown-menu__item:hover, .menu__item:hover, .menu__link:hover {
    background-color: #82b0de !important;
}
.dropdown-menu__triangle {
    border-top: 12px solid #82b0de !important;
}
.menu__link_active {
    color: brown;
    text-decoration: none;
    background-color: #82b0de !important;
}*/
@media screen and (max-width: 767px) {
    /*.menu-box {
        background-color: #82b0de !important;
    }*/
    /*.menu__item {
        background-color: #82b0de !important;
    }*/
}
@media screen and (min-width: 768px) {
    /*.dropdown-menu__ul {
        background-color: #6691be !important;
    }
    .dropdown-menu__item {
        border-bottom: 1px solid #5d87b2 !important;
    }*/
    /*.dropdown-menu__item:hover {
        background-color: #82b0de !important;
    }*/
}
/*
.vote__submit{
    background-color: #9200ed;
}
.feedback__button{
    background-color: #9200ed !important;
    color: white !important;
}
.vote {
    background-color: #ffeefd !important;
}*/
#step3Prev{
    color: #fff !important;
}
.select:after {
    font-family: FontAwesome;
    content: "\f105";
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 27px;
    height: 27px;
    pointer-events: none;
    box-sizing: border-box;
    background: #ffbb42;
}
.select2:after {
    font-family: FontAwesome;
    content: "\f107";
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 27px;
    height: 27px;
    pointer-events: none;
    box-sizing: border-box;
    background: #ffbb42;
}
.radio:checked + label:before {
    background: #ffbb42;
}
.ui-widget-header {
    border: 2px solid #ffc155;
    background: #cccccc 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
}
.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffbb42;
    animation: cssload-fold-thecube 2.76s infinite linear both;
    -o-animation: cssload-fold-thecube 2.76s infinite linear both;
    -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
    -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
    -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
    transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}
legend {
    font-size: 18px;
    margin: 0px;
    padding: 10px 0px;
    color: #2b5f93;
    font-weight: bold;
}