.meters {
    font-size: 15px;
    margin: 30px 0;
}
.meters__send {
    margin-top: 30px;
    text-align: right;
}
.meters__send input {
    font-size: 16px;
    padding-left: 55px;
    padding-right: 55px;
}
.meters__table .table1__row .table1__cell {
    padding: 10px 5px;
}
.meters__table .table1 {
    height: 100%;
    border: none;
}
.meters__table .table1 .table1__cell {
    width: 50%;
}
.meters__table .table1 .table1__cell div {
    padding: 7px 0;
}
.meters__table .table1 .table1__row:nth-last-child(n+2) .table1__cell {
    border-bottom: 1px solid #2b5f93 !important;
}
.meters__input {
    border: 1px solid black;
    border-radius: 4px;
    width: 80px;
    padding: 3px;
}
.meters__name {
    width: 30%;
}
@media screen and (max-width: 767px) {
    .meters__table > .table1__row:nth-child(n+2) {
        display: block !important;
    }
    .meters__table > .table1__row > .table1__cell {
        display: block;
        border-left: none !important;
    }
    .meters__table {
        width: calc(100% - 10px) !important;
        margin-left: 5px;
    }
    .meters__table .meters__name {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #709dca;
        /*powderblue*/
        border: 1px solid #2b5f93 !important;
    }
    .meters__table .table1__row:nth-child(2) .table1__cell:first-child {
        border-radius: 4px 4px 0 0;
    }
    .meters__table .meters__theme-title {
        background-color: #e7edf3;
        border-bottom: 1px solid #2b5f93 !important;
    }
    .meters__table .table1__row:last-child .meters__theme-title:nth-last-child(2) {
        border-top: 1px solid #2b5f93 !important;
    }
    .meters__table .table1 .table1__cell {
        border-bottom: 1px solid #2b5f93 !important;
    }
    .meters__table .table1__cell.padding-none .table1 .table1__row:last-child .table1__cell {
        border-bottom: none !important;
    }
    .meters__send {
        text-align: center;
    }
}
@media screen and (max-width: 499px), screen and (max-width: 767px) and (min-width: 500px) and (orientation: portrait) {
    .table1.visible-mobi.meter-value {
        display: table !important;
    }
}