#contacts-block-container {
	overflow: hidden;
}

#contacts-block-container .org-contacts h3 {
	margin: 15px 0 10px;
	padding: 0;
	font-size: 18px;
	line-height: 100%;
}
#contacts-block-container .org-contacts h3.alt {
	margin: 15px 0 0;
	font-size: 20px;
	color: #8ba601;
}
#contacts-block-container .org-contacts .contacts-table {
	width: auto;
	margin: 0;
	border: none;
}
#contacts-block-container .org-contacts .contacts-table td {
	padding: 1em .5em 0 0;
	font-size: 12px;
	vertical-align: top;
	border: none;
}
#contacts-block-container .org-contacts .contacts-table td.caption {
	width: 1%;
	font-weight: bold;
	text-align: left;
	white-space: nowrap;
}
#contacts-block-container .org-contacts .contacts-table td .phone-big {
	font-size: 115%;
}
#contacts-block-container .org-contacts .contacts-table td.detail-link {
	padding-top: 0;
}
#contacts-block-container .org-contacts .contacts-table td .schedule-table {
	width: auto;
	margin: -.1em 0 0 -.2em;
	border: none;
	border-collapse: collapse;
}
#contacts-block-container .org-contacts .contacts-table td .schedule-table td {
	padding: .1em;
	vertical-align: top;
	border: none;
}
#contacts-block-container .org-contacts .contacts-table td .schedule-table td.hours {
   	padding: .1em .3em;
	text-align: right;
	white-space: nowrap;
}
#contacts-block-container .org-contacts .contacts-table td .schedule-table td.holiday {
	text-align: left;
}
#contacts-block-container .org-contacts .contacts-table td .schedule-table td.deptname {
	max-width: 15em;
	overflow: hidden;
	text-overflow: ellipsis;
}

#contacts-block-container .org-contacts .contacts-table td .schedule-table td .nowrap {
	white-space: nowrap;
}
