div.title-search-result {
	display:none;
	overflow:hidden;
	z-index:1001;
	max-height: 200px;
}

table.house-search-result, table.flat-search-result {
	border-collapse: collapse;
	border:none;
	width:100%;
	border: 1px solid #c6c6c6;
}

table.house-search-result td, table.flat-search-result td {
	background-color:white;
	color:black;
	font-weight:normal;
	padding: 2px 20px;
	text-align:left;
	white-space:nowrap;
}

table.house-search-result td.house-search-item a,  table.flat-search-result td.flat-search-item a {
	text-decoration: none;
	vertical-align:top;
	display:block;
	color: #d0d0d0;
	font-family: Calibri;
	font-weight: bold;
	line-height: 30px;
	cursor: pointer;
}
