 .profile-table-field-title {
 	text-align: right;
}
.profile-table-field {

}

.profile-table #profile-email-table {
	width: 100%;
	border: none;
	border-collapse: collapse;
}
.profile-table #profile-email-table td {
	margin: 0;
	padding: 0;
	border: none;
}
.profile-table #profile-email-table .icon {
	width: 25px;
}
.profile-table #profile-email-table .icon.confirmed {
	background: url(images/confirmed.png) no-repeat right center;
}
.profile-table #profile-email-table .icon.nonconfirmed {
	background: url(images/nonconfirmed.png) no-repeat right center;
}

