.tszh_subscription {
}
.tszh_subscription .errortext {
	color: red;
}

.tszh_subscription .data-table {
	width: 100%;
}

.tszh_subscription .subscribe-name {
	font-size: 115%;
	font-weight: bold;
	cursor: pointer;
}
.tszh_subscription .subscribe-name label {
	cursor: pointer;
}

.tszh_subscription .subscribe-descr {
	padding: 0.3em 0 0 0;
	color: #666;
}

.tszh_subscription table .checkbox-td {
	text-align: center;
	vertical-align: middle;
}
.tszh_subscription table .checkbox-td input {
	cursor: pointer;
}

.tszh_subscription table .button-td {
	text-align: right;
}

