.data-table td.cost {
    white-space: nowrap;
}
.data-table .rwd-optional {
    display: none;
}
.sheet-type-select {
    margin-bottom: 20px;
}
.sheet-type-select:after {
    content: '';
    display: block;
    clear: both;
}
.sheet-type {
    float: left;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
}
.sheet-type.left-bordered {
    border-radius: 3px 0px 0px 3px;
}
.sheet-type.right-bordered {
    border-radius: 0px 3px 3px 0px;
}
.sheet-type a {
    display: block;
    padding: 6px 25px;
    text-decoration: none;
}
.sheet-type.main-border {
    border-color: rgb(102, 102, 102);
}
.sheet-type.main-bg {
    background: rgb(102, 102, 102);
}
.sheet-type.main-bg a {
    color: #fff;
}
@media (min-width: 970px) {
    .data-table .rwd-optional {
        display: table-cell;
    }
}