.houses-list td, th {
    padding: 10px;
    text-align: center;
    border: solid #d1e0ee;
}
.houses-list td {
    border-width: 0 1px 0;
}
.houses-list th {
    background: #edebec;
    font-size: 12px;
    color: #fff;
    padding: 10px;
    border-width: 1px;
}
.houses-list th.ep-house-table__tszh-name {
    color: #666;
}
.houses-list {
    border-spacing: 0px;
    width: 100%;
    border: solid #d1e0ee;
    border-width: 1px 1px 3px;
}