.window__input.opd {
	height: auto;
	padding-top: 9px;
	padding-left:0;
	border-width: 0;
	background-color: transparent;
}
.window__input-name_pas {
	position: relative;
}
.window__input-name_pas input[type=checkbox] {
	display: block !important;
	opacity:0;
	position: absolute;
	right:0;
}
.window__input-opd-err {
	display:none;
	margin-top: 15px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}