#tabs-home {
    min-width: 970px;
    max-width: 1200px;

}

#tabs-home .home-work {
    float: left;
    width: calc(50% - 3px);
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    border-radius: 5px 0 0 5px;
    border: 1pt solid;
}

#tabs-home .home-nowork {
    float: left;
    width: calc(50% - 3px);
    margin: auto;
    text-align: center;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    border: 1pt solid;
    border-radius: 0 5px 5px 0;
}

#first_map {
    float: left;
    margin: 15px 0 0 0;
    width: calc(70% - 2px);
    height: 606px;
    border: 1px solid #d1e0ee;
}

.list-homes {
    float: left;
    width: calc(30% - 3px);
    height: 606px;
    margin: 15px 0 0 0;
    color: #000;
    font-size: 12px;
    border: 1pt solid #d1e0ee;
}

.list-homes-header {
    border-bottom: 1px solid #d1e0ee;
}

.spisok {
    height: 488px;
    overflow: hidden;
    padding: 0px 15px 0px 15px;
    border-top: 37px solid #FFFFFF;
    border-bottom: 24px solid #FFFFFF;
}

.lupa {
    display:block;
    float: left;
    margin: 6px;
}

input.val_text {
    width: 77%;
    height: 50px;
    line-height: 50px;
    border: none;
    background: url(../../images/lupa.png) no-repeat 10px 10px;
    font-size: 14px;
    font-family: Arial;
    color: #a8b0b8;
}

.spisoksok {
    margin-top: 0px;
    transition: all 1s;
}

.donego {
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: absolute;
    margin: -27px 0 0 145px;
}

.esche {
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: absolute;
    margin: 485px 0 0 145px;
}

.podrobnee {
    display: block;
    margin: 20px 0 0 0;
    width: 320px;
    color: #ffffff;
    text-decoration: none;
    height: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 14px;
}

a.homelist {
    color: #666666;
    text-decoration: none;
}

.arrow {
    float: right;
    width: 24px;
    padding-right: 5px;
}

.pre-arrow {
    cursor: pointer;
    float: left;
    width: 230px;
    vertical-align: middle;
    font-family: "Arial";
    padding-right: 10px;
    color: #7d7d7d;
    font-size: 14px;
}

.item-selected {
    color: #000000;
!important;
}

.element-spisok {
    float: left;
    width: 100%;
    height: 34px;
    margin: 13px 0 13px 0;
}

.arrowclass:hover {
    content: url(../../images/arrow.png)
}

#detaile-descr {
    float: left;
    width: 91%;
    margin: 3% 0 0 0;
    line-height: 28px;
    color: #000;
    font-size: 14px;
    padding: 3% 4%;
    border: 4px solid #ebebeb;
    display: none;
}

.detail-descr-adress {
    font-size: 16px;
}

.balloon-button {
    height: 30px;
    width: 210px;
    color: #FFFFFF !important;
    cursor: pointer;
}

.balloon-house-image {
    height: 170px;
    width: 145px;
    display: block;
    float: left;
    padding: 7.5px !important;
}

.balloon-text {
    display: block;
    float: left;
    padding: 7.5px;
    width: 210px;
    height: 140px;
    font: 12px Arial !important;
}

.balloon-item-name {
    display: block;
    float: left;
    clear: left;
    font: 12px Arial !important;
    color: #000000;
    margin: 3px 0 3px 0;
}

.balloon-item {
    display: block;
    float: left;
    font: 12px Arial !important;
    color: #5a5a5a;
    margin: 3px 0 3px 0;
}

[class*="cluster-content"] {
    padding: 7.5px !important;
    width: 550px !important;
}

#first_map a {
    display: block;
    clear: left;
    width: 210px;
    color: #FFFFFF !important;
    text-decoration: none !important;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.data-table td.cost {
    white-space: nowrap;
}

.data-table .rwd-optional {
    display: none;
}

.sheet-type-select {
    margin-bottom: 10px;
}

.sheet-type-select:after {
    content: '';
    display: block;
    clear: both;
}

.sheet-type {
    float: left;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
}

.sheet-type.left-bordered {
    border-radius: 3px 0px 0px 3px;
}

.sheet-type.right-bordered {
    border-radius: 0px 3px 3px 0px;
}

.sheet-type a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
}

.sheet-type.main-bg a {
    color: #fff;
}

#work h1 {
    /*margin: 15px 0 20px 40px !important;*/
    font-family: Arial;
    font-size: 24px;
}

#work h2 {
    border-top: 2px solid;
    font-family: Roboto Regular !important;
    font-size: 18px !important;
    color: #134475 !important;
}

#work {
    padding-left: 0px;
}

.fix {
    padding: 0 5px !important;
}
.warning {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color:  #D8000C;
    background-color: #FFBABA;
    text-align: center;
}
.close {
    float: top;
    float: right;
    cursor: pointer;
}
.main-bg {
    background: #14508c;
}
@media (min-width: 970px) {
    .data-table .rwd-optional {
        display: table-cell;
    }
}