.voting-form .voting-text {
	font-size: 160%;
	line-height: 110%;
	font-weight: normal;
}
.voting-form .voting-date {
	color:#333;
	font-style: italic;
	font-size: 91%;
}
.voting-form .voting-description {
    margin: .5em 0 1em 0;
}

.voting-form .voting-submit {
    margin-top:10px;
}

.voting-form .voting-question {
	margin-bottom: 20px;
}

.voting-form .voting-question dt {
	font-size: 120%;
	font-style: italic;
	margin: 0 0 10px 0;
}

.voting-form .voting-question dd {
	margin: 0 0 10px 0;
	line-height: 120%;
}
.voting-form .voting-question dd input {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

button:disabled, input[type="submit"]:disabled, input[type="button"]:disabled {
	color: #999;
	cursor: not-allowed;
}