/*.list-homes img,*/
.main-bg {
  background-color: #305fb6;
}
.arrowclass {
  background-color: #709dca;
}
#tabs-home {
  min-width: 970px;
  max-width: 1200px;
}
#tabs-home .home-work {
  float: left;
  width: calc(50% - 5px);
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  border-radius: 5px 0 0 5px;
  border: 1pt solid;
}
#tabs-home .home-nowork {
  float: left;
  width: calc(50% - 5px);
  margin: auto;
  text-align: center;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  border: 1pt solid;
  border-radius: 0 5px 5px 0;
}
#first_map {
  float: left;
  margin: 15px 0 0 0;
  width: 725px;
  height: 606px;
  border: 1px solid #d1e0ee;
}
@media screen and (min-width: 768px) and (max-width: 1199px), screen and (min-width: 500px) and (max-width: 767px) and (orientation: landscape) {
  .homes {
    position: relative;
    height: 0;
    padding-top: 60%;
  }
  .homes:before {
    display: block;
    content: "";
    width: 100%;
  }
  #first_map {
    width: calc(100% - 50px);
    margin-left: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }
}
.list-homes {
  float: left;
  width: 410px;
  height: 606px;
  margin: 15px 0 0 0;
  color: #000;
  font-size: 12px;
  border: 1pt solid #d1e0ee;
  position: relative;
}
.list-homes-header {
  border-bottom: 1px solid #d1e0ee;
}
.spisok {
  height: 488px;
  overflow: hidden;
  padding: 0px 15px 0px 15px;
  border-top: 37px solid #FFFFFF;
  border-bottom: 24px solid #FFFFFF;
}
@media screen and (max-width: 1199px) {
  .list-homes {
    width: 100%;
  }
}
.lupa {
  display: block;
  float: left;
  margin: 6px;
}
input.val_text {
  width: 77%;
  height: 50px;
  line-height: 50px;
  border: none;
  /*background: url(../../images/lupa.png) no-repeat 10px 10px;*/
  font-size: 14px;
  font-family: Arial;
  color: #a8b0b8;
}
.spisoksok {
  margin-top: 0px;
  transition: all 1s;
}
.donego {
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: absolute;
  margin: -27px 0 0 calc(50% - 28px);
}
.esche {
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: absolute;
  margin: 485px 0 0 calc(50% - 28px);
}
.podrobnee {
  display: block;
  margin: 20px 0 0 0;
  width: 320px;
  color: #ffffff;
  text-decoration: none;
  height: 40px;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
}
a.homelist {
  color: #666666;
  text-decoration: none;
}
.arrow {
  float: right;
  width: 24px;
  padding-right: 5px;
}
.pre-arrow {
  cursor: pointer;
  float: left;
  width: calc(100% - 40px);
  vertical-align: middle;
  font-family: "Arial";
  padding-right: 10px;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 25px;
}
.item-selected {
  color: #000000;
  /*!important;*/
}
.element-spisok {
  float: left;
  width: 100%;
  /*height: 34px;*/
  margin: 13px 0 13px 0;
}
.arrowclass:hover {
  /*content: url(images/arrow.png);*/
  background-color: #0a246a;
}
#detaile-descr {
  float: left;
  width: 91%;
  margin: 3% 0 0 0;
  line-height: 28px;
  color: #000;
  font-size: 14px;
  padding: 3% 4%;
  border: 4px solid #ebebeb;
  display: none;
}
.detail-descr-adress {
  font-size: 16px;
}
.balloon-button {
  height: 30px;
  width: 210px;
  color: #FFFFFF !important;
  cursor: pointer;
}
.balloon-house-image {
  height: 170px;
  width: 145px;
  display: block;
  float: left;
  padding: 7.5px !important;
}
.balloon-text {
  display: block;
  float: left;
  padding: 7.5px;
  width: 210px;
  height: 140px;
  font: 12px Arial !important;
}
.balloon-item-name {
  display: block;
  float: left;
  clear: left;
  font: 12px Arial !important;
  color: #000000;
  margin: 3px 0 3px 0;
}
.balloon-item {
  display: block;
  float: left;
  font: 12px Arial !important;
  color: #5a5a5a;
  margin: 3px 0 3px 0;
}
.ymaps-2-1-55-b-cluster-content {
  padding: 7.5px !important;
  width: 550px !important;
}
#first_map a {
  display: block;
  clear: left;
  width: 210px;
  color: #FFFFFF !important;
  text-decoration: none !important;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
.data-table td.cost {
  white-space: nowrap;
}
.data-table .rwd-optional {
  display: none;
}
.sheet-type-select {
  margin-bottom: 10px;
}
.sheet-type-select:after {
  content: '';
  display: block;
  clear: both;
}
.sheet-type {
  float: left;
  margin: 0px;
  border-width: 1px;
  border-style: solid;
}
.sheet-type.left-bordered {
  border-radius: 3px 0px 0px 3px;
}
.sheet-type.right-bordered {
  border-radius: 0px 3px 3px 0px;
}
.sheet-type a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
}
.sheet-type.main-bg a {
  color: #fff;
}
#work h1 {
  font-family: Arial;
  font-size: 24px;
}
#work h2 {
  border-top: 2px solid;
  font-family: Roboto Regular !important;
  font-size: 18px !important;
  color: #134475 !important;
}
#work {
  padding-left: 0px;
}
.fix {
  padding: 0px 0px !important;
}
.warning {
  background-color: #f8d7da;
  border: solid 1px #f5c6cb;
  color: #721c24;
  border-radius: 4px;
  font-size: 12px;
  padding: 10px 20px 10px 10px;
  position: relative;
}
.warning-close {
  position: absolute;
  font-weight: 700;
  right: 10px;
  top: 5px;
}
.warning-close:hover {
  cursor: pointer;
}
@media (min-width: 970px) {
  .data-table .rwd-optional {
    display: table-cell;
  }
}
@media screen and (max-width: 499px), screen and (min-width: 500px) and (max-width: 767px) and (orientation: portrait) {
  #first_map {
    display: none;
  }
}

.d-none{
	display: none;
} 