.b-news-detail {
	overflow: hidden;
}
.b-news-date {
	font-style: italic;
	font-size: 85%;
	display: block;
	color: #666;
}
.b-news-detail-name {
	font-size: 1.2em;
}
.b-news-detail-preview-picture {
	float: left;
	margin: 1em 1em 1em 0;
}
.b-news-detail-text {
	margin-top: 1em;
}
.b-news-detail-photos .b-news-detail-preview-picture {
	float: none;
	*display: inline;
	zoom: 1;
	display: -moz-inline-box;
	display: inline-block;
}
