.ask-form, .ask-form__table, .ask-form__cell input, .ask-form__cell textarea{

    width: 100%;

}

.ask-form__cell:nth-of-type(2){

    padding-bottom: 10px;

}

.opdqa__input.opd {

    height: auto;

    padding-top: 9px;

    padding-left:0;

    border-width: 0;

    background-color: transparent;

}

.opdqa__input-name_pas {

    position: relative;

}

.adm-detail-content-table

{

    width: auto !important;

}

.opdqa__input-name_pas{

    /*width:15px !important;*/
    float: left;
    margin-right: 10px;

}

/*.window__input{

    width: auto !important;

}*/

.opdqa__input-name_pas input[type=checkbox] {

    display: block !important;

    opacity:0;

    position: absolute;

    /*right:0;*/
    z-index: 1;

}
.margin{
    width: 15px;
    float: left;
    margin-right: 10px;
}
.opdqa__input-opd-err {

    display:none;

    margin-top: 15px;

    color: red;

    text-align: center;

    margin-bottom: 20px;

}

.input-checkbox input[type=checkbox]+label:before{


    left: 0px !important;

}

@media screen and (min-width: 768px) {

    .ask-form__table{

        display: table;

    }

    .ask-form__row{

        display: table-row;

        margin-bottom: 7px;

    }

    .ask-form__cell{

        display: table-cell;

        vertical-align: top;

    }

    .ask-form__cell:nth-of-type(1){

        padding-right: 20px;

        width: 30%;

        min-width: 280px;

    }

    .ask-form__cell:nth-of-type(2){

        width: 70%;

    }

}



.ask-form__row .input-checkbox {

    float: left;

}



.feedback-checkbox input[type=checkbox]+label {

    padding-left: 0px !important;

    line-height: 18px !important;

}