.bx-gadgets-back {
    display: inline-block;
}
.bx-gadget-bitrix24-back-wrap {
    padding-top: 50px;
}
.bx-gadgets-flysheet .bx-gadgets-content {
    background-color: #00c6d7 !important;
}
.bx-gadgets-back-left {
    display: block;
    float: left;
    margin-top: -14px;
    margin-left: -40px;
    margin-right: -40px;
}
.bx-gadgets-image {
    height: 139px;
    
}
.bx-gagets-right-top-text-wrapper {
    float: left;
    margin: 10px auto;
    width: 100%;
}
.bx-gagets-right-top-text {
    font-size: 26px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px #528398;
}
.bx-gagets-right-button-text {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: right;
    padding-top: 55px;
    padding-right: 17px;
    background-image: url("/images/flysheet-right.gif");
}
.bx-gagets-right-bottom-text-wrapper {
    display: block;
    float: right;
}
.bx-gagets-right-bottom-text {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: normal;
    text-align: center;
}
.bx-gadgets-back-right {
    display: block;
    float: right;
    margin-top: -60px;
    margin-right: -29px;
}
.bx-gadgets-back-img {
    margin-right: 0;
    margin-top: 20px;
    margin-left: 25px;
    display: block;
    float: right;
}
.bx-gadgets-colourful .bx-gadgets-content {
    padding-right: 0;
}
.bx-gadgets-flysheets .bx-gadgets-side {
    background: #00a0cc;
}
.bx-gadgets-flysheet .bx-gadgets-side {
    background: url("/bitrix/gadgets/vdgb/flysheet/images/stitch2.png") repeat-y left top transparent;
}
.bx-gadgets-flysheet:hover .bx-gadgets-color-config-close {
    background-position: -1px -589px;
}
.bx-gadgets-flysheet:hover .bx-gadgets-color-config-close:hover {
    background-position: -1px -606px;
}

