header {
    overflow: visible !important;
}

.choice_adaptive-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.personal-account {
    max-width: 1200px;
    margin: 15px auto 0;
    padding: 30px 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 35px 1fr 35px auto 35px auto;
    grid-template-columns: auto 1fr auto auto;
    grid-column-gap: 35px;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-radius: 3px;
    background: #FFFFFF;
}

.personal-account__title,
.personal-account__number-wrapper,
.personal-account__title-debt,
.personal-account__debt,
.personal-account__title-address,
.personal-account__address {
    padding-bottom: 25px;
    color: #2b5f93;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: normal;
}

.personal-account__title,
.personal-account__title-debt,
.personal-account__title-address {
    font-weight: bold;
}

.personal-account__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}

.personal-account__number-wrapper {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}

.personal-account__add-icon,
.personal-account__choice-icon {
    min-width: 27px;
    height: 27px;
    border-radius: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #FF424F;*/
    font-size: 19px !important;
}

.personal-account__add-icon {
    margin-left: 15px;
    padding: 1px 0 0 0 !important;
    text-decoration: none;
}

.personal-account__choice-icon {
    margin-left: 15px;
    padding: 0 0 1px 1px !important;
    position: relative;
}

.add-icon,
.choice-icon {
    color: #FFFFFF;
}

.background-icon-active {
    background-color: #ff424f;
}

.icon-active {
    color: #FFFFFF;
}

.personal-account__list {
    padding: 13px 0;
    position: absolute;
    top: 30px;
    background-color: #FFF;
    color: #2b5f93;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    z-index: 1;
}

.list__element {
    padding: 7px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.list__element:hover {
    background-color: #E1E1E1;
}

.list__element-selected {
    background-color: #F2F2F2;
}

.list__element-not-active {
    color: #737373;
    cursor: default;
}

.list__element-not-active:hover {
    background-color: #FFFFFF;
}

.personal-account__title-debt {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}

.personal-account__debt {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
}

.personal-account__title-address {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
}

.personal-account__address {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
}

.personal-account__pay-button {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-column: 3/5;
    grid-row: 2/3;
    display: flex;
    justify-content: flex-end;
}

.form-variable__button {
    margin: 0;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .personal-account {
        -ms-grid-columns: auto 35px 1fr 35px auto;
        grid-template-columns: auto 1fr auto;
        -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-gap: 15px;
    }

    .personal-account__title,
    .personal-account__number-wrapper,
    .personal-account__title-debt,
    .personal-account__debt,
    .personal-account__title-address,
    .personal-account__address {
        padding-bottom: 0;
    }

    .personal-account__title {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
    }

    .personal-account__number-wrapper {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
    }

    .personal-account__title-debt {
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
    }

    .personal-account__debt {
        -ms-grid-column: 5;
        -ms-grid-column-span: 1;
        grid-column: 3/4;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2/3;
        justify-content: flex-end;
    }

    .personal-account__title-address {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .personal-account__address {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .personal-account__pay-button {
        -ms-grid-column: 1;
        -ms-grid-column-span: 6;
        grid-column: 1/4;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
        display: flex;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
    .personal-account {
        padding: 30px 40px;
        -ms-grid-columns: 1fr 35px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    }

    .personal-account__title {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
    }

    .personal-account__number-wrapper {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    .personal-account__list {
        top: 29px;
        right: 0;
        left: auto;
    }

    .personal-account__title-address {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .personal-account__address {
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        justify-content: flex-end;
    }

    .personal-account__title-debt {
        padding-bottom: 25px;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .personal-account__debt {
        padding-bottom: 25px;
        -ms-grid-column: 3;
        -ms-grid-column-span: 1;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 3/4;
        display: flex;
        justify-content: flex-end;
    }

    .personal-account__pay-button {
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
        grid-column: 1/3;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 5/6;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
    .personal-account {
        padding: 30px 10px;
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        -ms-grid-rows: auto auto auto auto auto auto auto;
        grid-template-rows: repeat(7, auto);
    }

    .personal-account__title,
    .personal-account__title-address,
    .personal-account__title-debt {
        padding-bottom: 10px;
    }

    .personal-account__title,
    .personal-account__number-wrapper,
    .personal-account__title-address,
    .personal-account__address,
    .personal-account__title-debt,
    .personal-account__debt,
    .personal-account__pay-button {
        -ms-grid-column: 1;
        grid-column: 1/2;
        justify-content: center;
    }

    .personal-account__title {
        -ms-grid-row: 1;
    }

    .personal-account__number-wrapper {
        -ms-grid-row: 2;
        position: relative;
    }

    .personal-account__choice-icon {
        position: static;
    }

    .personal-account__list {
        width: 100%;
    }

    .personal-account__list-wrapper {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #000000;
        opacity: 0.5;
    }

    .personal-account__list {
        width: 95%;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .personal-account__title-address {
        -ms-grid-row: 3;
    }

    .personal-account__address {
        -ms-grid-row: 4;
    }

    .personal-account__title-debt {
        -ms-grid-row: 5;
    }

    .personal-account__debt {
        -ms-grid-row: 6;
    }

    .personal-account__pay-button {
        -ms-grid-row: 7;
        grid-row: 7/8;
    }
}