@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.receipt__title {
	display: block;
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
}

#receipt {
	margin: 0 auto; padding: 0;
	color: #000; background: #fff;
	width: 670px;

	font: 7pt/100% Arial, Helvetica, sans-serif;
}
table {
	border: 0 none;
	border-collapse: collapse;
	margin: 0;
}
td {
	margin: 0;
	padding: 0 1pt 5pt 8pt; 
	vertical-align: top;
}
table.border {
	margin: 0;
}
table.border td {
	border: 1pt solid #000;
	padding: 2pt;
}
table td.tl {
	padding-left: 0;
}
small, .small {
	font-size: 8pt;
	line-height: 133%;
}
.bt { border-top: 1px solid #000 !important; }
.br { border-right: 1px solid #000 !important; }
.bb { border-bottom: 1px solid #000 !important; }
.bl { border-left: 1px solid #000 !important; }
.border .bt { border-top: 2px solid #000 !important; }
.border .br { border-right: 2px solid #000 !important; }
.border .bb { border-bottom: 2px solid #000 !important; }
.border .bl { border-left: 2px solid #000 !important; }

thead td {
	font-weight: bold;
	text-align: center;
	width: auto;
	vertical-align: middle;
}
table.counters td, table.services td {
	padding-left: 2pt; padding-right: 2pt;
}
table.services tbody td {
	font-size: 90%;
}
table.services tfoot td {
	border: 2px solid #000;
}
table td.num {
	text-align: right;
	white-space: nowrap;
}
tfoot td {
	font-weight: bold;
}

.f90 {
	font-size: 90%;
}
.center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.nowrap {
	white-space: nowrap;
}
.b2 {
	border: 2px solid #000;
}
.bordered {
	padding: 2pt;
	border: 1pt solid #000;
}
.placeholder-table {
	margin: 0;
	border: none;
	border-collapse: collapse;
}
.placeholder-table td {
	width: 6pt !important;
	min-width: 6pt !important;
	padding: 2pt;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #000;
}
.cut-line {
	margin: 10pt 0;
	font-size: 90%;
	font-style: italic;
	text-align: center;
	border-top: 1pt dashed #000;
}

.top-section {
	margin: 30px 0 10px;
	line-height: 100%;
}
.top-section * {
	line-height: 100%;
}
.top-section .main-header {
	font-size: 11pt;
}
.top-section .address {
	margin-top: 10px;
	font-size: 9pt;
}
.top-section .header {
	margin-top: 3px;
}

.top-section .header-note {
	margin-top: 10pt;
	font-style: italic;
	line-height: 110%;
}

.top-section .abonent-sign {
	margin-top: 10pt;
	padding-left: 15em;
}
.top-section .abonent-sign .line {
	border-bottom: 1pt solid #000;
}

.calc-period {
	width: 100%;
}
.calc-period td {
	padding: 0.5em 1em !important;
}

.rcpt-barcode {
	height: 1cm;
	max-height: 1cm;
}
.rcpt-barcode-cell {
	text-align: center;
}
td.no-border {
	border: none !important;
}

.rcpt-group-title td {
	text-transform: uppercase;
	font-weight: bold;
}

