.bx-gadgets-colourful.otr-gadgets-tszhaccess {
    background: url(images/background.png) no-repeat 0 0;
    background-color: #fff;
    background-size: 50% 100%;
}

.otr-gadget-tszhaccess__auto {
    background: url(images/auto.gif) no-repeat 0 0;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.otr-gadgets-tszhaccess .bx-gadgets-content {
    background: none;
    box-shadow: none;
    height: 120px !important;
    padding: 10px 40px 10px 10px !important;
}

.otr-gadget-tszhaccess__header {
    color: #103b57;
    font-size: 31px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
    height: 35px;
    text-align: right;
    padding-top: 10px;
    padding-left: 100px;
}

.otr-gadgets-tszhaccess .bx-gadgets-side {
    background: url("images/stitch.png") repeat-y 0 0;
}
.otr-gadgets-tszhaccess:hover .bx-gadgets-color-config-close {
    background-position: -1px -589px;
}
.otr-gadgets-tszhaccess:hover .bx-gadgets-color-config-close:hover {
    background-position: -1px -606px;
}

.bx-gadgets a.tszhaccess-button, .bx-gadgets a.tszhaccess-button:hover, .bx-gadgets a.tszhaccess-button:link, .bx-gadgets a.tszhaccess-button:visited {
    color: #f44336;
}
.tszhaccess-button {
    display: block;
    vertical-align: middle;
    padding: 10px 15px !important;
    height: 20px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
    background: #fc5b19;
    -webkit-shadow: inset 0 -1px 0 #f44336, inset 0 1px 0 #f44336, inset 0 0 0 1px #f44336;
    box-shadow: inset 0 -1px 0 #f44336, inset 0 1px 0 #f44336, inset 0 0 0 1px #f44336;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.tszhaccess-button:hover {
    background: #e25216;
}
.tszhaccess-button__text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
}

@media (max-width: 1200px) {
    .otr-gadget-tszhaccess__header {
        font-size: 24px;
        padding-top: 6px;
    }
    .tszhaccess-button {
        bottom: 12px;
        right: 30px;
        padding: 10px 10px !important;
    }
    .otr-gadgets-tszhaccess .bx-gadgets-content {
        padding: 10px 30px 10px 10px !important;
    }
}

@media (max-width: 1020px) {
    .otr-gadget-tszhaccess__header br {
        display: none
    }
    .otr-gadget-tszhaccess__header {
        font-size: 24px;
        padding-top: 14px;
    }
    .tszhaccess-button {
        bottom: 20px;
    }
}

@media (min-width: 1200px) {
    .otr-gadget-tszhaccess__header br {
        display: none
    }
}


@media (max-width: 1800px) and (min-width: 1200px) {
    .otr-gadget-tszhaccess__header {
        font-size: 24px;
        padding-top: 6px;
    }
    .tszhaccess-button {
        bottom: 12px;
        right: 30px;
        padding: 10px 10px !important;
    }
    .otr-gadgets-tszhaccess .bx-gadgets-content {
        padding: 10px 30px 10px 10px !important;
    }
    .otr-gadget-tszhaccess__header br {
        display: block
    }
}

