.bx-gadgets-citrus-support .bx-gadget-button {
	border-radius:4px;
	border:1px solid;
	border-color:#ad7827 #97681e #724d14;
	background:#df9d41;
	background:-webkit-linear-gradient(top, #de9c40, #b97f2b, #976317);
	background:-moz-linear-gradient(top, #de9c40, #b97f2b, #976317);
	background:-ms-linear-gradient(top, #de9c40, #b97f2b, #976317);
	background:-o-linear-gradient(top, #de9c40, #b97f2b, #976317);
	background:linear-gradient(top, #de9c40, #b97f2b, #976317);
	-webkit-shadow:inset 0 1px 0 #ebac52, inset -1px 0 0 #c99643, inset 0 -1px 0 #af7f31, inset 1px 0 0 #c99643, 0 1px 0 #9a681b;
	box-shadow: inset 0 -1px 0 #af7f31, inset 0 1px 0 #ebac52, inset 0 0 0 1px #cb9844, 0 2px 0 -1px #9a681b;
	margin-bottom:1px;
	height: 40px !important;
}

.bx-gadgets-citrus-support .bx-gadget-button:hover {
	background:#e3a74a;
	background:-webkit-linear-gradient(top, #fbb157, #c39741, #a67c30);
	background:-moz-linear-gradient(top, #fbb157, #c39741, #a67c30);
	background:-ms-linear-gradient(top, #fbb157, #c39741, #a67c30);
	background:-o-linear-gradient(top, #fbb157, #c39741, #a67c30);
	background:linear-gradient(top, #fbb157, #c39741, #a67c30);
	-webkit-shadow:inset 0 1px 0 #ebac52, inset -1px 0 0 #c99643, inset 0 -1px 0 #af7f31, inset 1px 0 0 #c99643, 0 1px 0 #9a681b;
	box-shadow: inset 0 -1px 0 #af7f31, inset 0 1px 0 #ebac52, inset 0 0 0 1px #cb9844, 0 2px 0 -1px #9a681b;
}
.bx-gadgets-citrus-support .bx-gadget-button:disabled {
	opacity: .3;
}
.bx-gadgets-citrus-support .bx-gadget-button {
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-top: 10px;
	width: auto !important;
}


.bx-gadgets-citrus-support .bx-gadget-shield { 
	width: 120px;
	height: 125px; 
	position: absolute; 
	top: 35px!important; 
	right: 35px; 
	background:url("/bitrix/gadgets/citrus/tszh_create_dispatcher/images/logo.png") no-repeat 0 0; 
}
.bx-gadgets-colourful.bx-gadgets-citrus-support .bx-gadgets-content {
	background: #f99302; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5d73c 0%, #eec801 47%, #f99302 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5d73c), color-stop(47%,#eec801), color-stop(100%,#f99302)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5d73c 0%,#eec801 47%,#f99302 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5d73c 0%,#eec801 47%,#f99302 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5d73c 0%,#eec801 47%,#f99302 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5d73c 0%,#eec801 47%,#f99302 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5d73c', endColorstr='#f99302',GradientType=0 ); /* IE6-8 */	
	box-shadow: 0px 1px 0px #fed06e inset;
	padding: 12px 13px 15px;
	position: relative;
}
.bx-gadgets-colourful.bx-gadgets-citrus-support .bx-gadgets-content {
	height: auto;
	padding-right: 150px;
    overflow: hidden;
}


.citrus-tickets-gadget-result {
	margin-bottom: 10px;
	margin-top: -5px;
}
.bx-gadget-error, .bx-gadget-success {
	background: rgba(255,255,255,.5);
	display: inline-block;
	padding: 5px 10px;
	margin-left: -10px;
	border-radius: 4px;
}
.bx-gadget-error {
	color: #f00;
	border: 1px solid #fcc;
}
.bx-gadget-success {
	color: #0a0;
	border: 1px solid #cdc;
}
.bx-gadget-success a {
	text-decoration: underline !important;
}
.bx-gadgets-citrus-support  .bx-gadgets-side {
	background: url("images/stitch.png") repeat-y scroll left top transparent;
}

.bx-gadgets-citrus-support:hover .bx-gadgets-color-config-close {
	background: url("images/gadgets-sprite.png") no-repeat 0px -180px transparent!important;
	top: 4px; right: 18px;
	height: 20px; width: 20px;
	position: absolute;
}
.bx-gadgets-citrus-support:hover .bx-gadgets-color-config-close:hover {
	background: url("images/gadgets-sprite.png") no-repeat 0px -159px transparent!important;
}
.bx-gadgets-citrus-support.bx-gadgets-citrus-support .bx-gadgets-title {
	text-shadow: 0 1px 0 #ffff7c;
	height: auto !important;
    position: static;
    width: auto;
}
.bx-gadgets-citrus-support .bx-gadgets-title small {
	font-size: 14px;
	color: #666;
	font-weight: normal;
	text-shadow: none;
}
.bx-gadgets-citrus-support .bx-gadgets-title small a {
	font-size: 14px;
	color: #666;
	text-decoration: underline;
}

.citrus-tickets-gadget-form {
	padding-left: 5px;
}
.citrus-tickets-gadget-form .input-xlarge {
	margin-bottom: 5px !important;
}
.citrus-tickets-gadget-form .control-group-left {
	float: left; margin-right: 5px;
}
.bx-gadgets-citrus-support:hover .citrus-gadgets-config {
    background: url("images/gadgets-sprite.png") no-repeat scroll 0px -138px transparent !important;
    top: 4px;
    right:40px;
    height: 20px;
    width: 20px;
    position: absolute;	
}
.bx-gadgets-citrus-support:hover .citrus-gadgets-config:hover {
    background: url("images/gadgets-sprite.png") no-repeat scroll 0px -117px transparent !important;
}


.bx-gadgets-citrus-support.bx-gadgets-colourful .bx-gadget-button-text {
    position: static;
}