@onlymobi: ~"screen and (max-width: 767px)";
@mobi: ~"screen and (max-width: 599px), screen and (min-width: 600px) and (max-width: 767px) and (orientation: portrait)";
@tablet: ~"screen and (min-width: 768px) and (max-width: 1199px), screen and (min-width: 500px) and (max-width: 767px) and (orientation: landscape)";
@desktop: ~"screen and (min-width: 1200px)";
@tabletDesktop: ~"screen and (min-width: 768px), screen and (min-width: 500px) and (orientation: landscape)";
.form-variable {
    margin: 0 15px 0 7px;
    font-size: 15px;
    width: 390px;
}
.form-variable form {
    border: 1px solid #709dca;
    border-radius: 6px;
    text-align: center;
    min-height: 244px;
}
.form-variable__header {
    padding-top: 25px;
    font-size: 16px;
    font-weight: bold;
}
.form-variable__data {
    min-height: 125px;
    margin-top: 5px;
    vertical-align: middle;
    display: table;
    margin: 0 auto;
}
.form-variable__data > div {
    display: table-cell;
    vertical-align: middle;
}
.form-variable__data p {
    font-size: 14px;
}
.form-variable__button {
    padding: 10px 33px;
    border: 1px solid #709dca;
    display: inline-block;
    margin-bottom: 30px;
    text-decoration: none;
    color: #2b5f93;
    border-radius: 6px;
    background-color: #ffffff;
    cursor: pointer;
    line-height: normal;
    height: auto;
}
.form-variable__new {
    display: none;
}
.form-variable input {
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: bolder;
}
.form-variable__tips p {
    font-style: italic;
}

@media @desktop {
    .form-variable {
        display: -webkit-box;
    }
    .form-variable form {
        min-width: 390px;
    }
    .form-variable__tips {
        padding: 25px;
    }
}
@media @mobi {
    .form-variable {
        margin-bottom: 30px !important;
        width: ~"calc(100% - 15px)";
    }
    .div-flex {
        display: block !important;
    }
}
.form-variable__bg-contact {
    background: url('images/bg-change-contact.png');
}
.form-variable__bg-password {
    background: url('images/bg-change-password.png');
}
.form-variable .icon {
    width: 24px;
    height: 15px;
    float: right;
}
.form-variable .icon.confirmed {
    background: url(images/confirmed.png) no-repeat right center;
}
.form-variable .icon.nonconfirmed {
    background: url(images/nonconfirmed.png) no-repeat right center;
}
.account-info .mess {
    margin-left: 25px;
}