.voting-result .voting-text {
	font-size: 160%;
	line-height: 110%;
	font-weight: normal;
}
.voting-result .voting-date {
	color:#333;
	font-style: italic;
	font-size: 91%;
}
.voting-result .voting-description {
	margin: .5em 0 1em 0;
}

.voting-result .voting-question {
	margin-bottom: 20px;
}

.voting-result .voting-question dt {
	font-size: 120%;
	font-style: italic;
	margin: 0 0 10px 0;
}

.voting-result .voting-question dd {
	margin: 0 0 10px 0;
	line-height: 120%;
}
.voting-result .voting-question dd input {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}


.voting-result-diagram {
	width: 90%;
}
.voting-result-diagram td {
	padding: 10px 3px 10px 0;
}
.voting-result-box {
	*display: inline;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #eee;
	margin-right: 2px;
	width: 10px;
	height: 10px;
}
.voting-result-percent {
	color: #666;
	font-size: 91%;
	
	*display: inline;
	display: -moz-inline-box;
	display: inline-block;
	width: 4.5em;
}
