.requests {
  width: 100%;
}
.requests .radio-switcher {
  margin-bottom: 20px;
}
.requests .radio-switcher span {
  padding-right: 20px;
}
.requests .table1 td:nth-child(1) {
  width: 70px;
}
.requests .table1 td:nth-child(2) {
  width: 90px;
}
.requests__descrip {
  width: 400px;
}
.requests .table1 td:nth-child(4) {
  width: 120px;
}
.requests .table1 td {
  padding: 10px 5px;
  height: 40px;
}
.requests .table1 a {
  color: #2b5f93;
}
.requests .table1 tbody .requests__descrip {
  text-align: left;
  padding-left: 10px;
}
.requests__descrip .visible-mobi {
  margin-bottom: 10px;
}
.requests__descrip .visible-mobi span {
  font-weight: bolder;
  padding-right: 10px;
}
.requests__window-open {
  margin-top: 40px;
  margin-bottom: 40px;
}
.requests__window {
  width: 640px;
  padding: 40px;
  margin-left: -360px;
  top: 0;
  display: none;
  /*background-color: @white;*/
}
.requests__window .window__close {
  color: #2b5f93;
  top: 15px;
  right: 15px;
}
.requests__window .window__title {
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.requests__window .requests__input p {
  margin: 10px;
}
.requests__window .requests__input textarea,
.requests__window .requests__input input {
  border: 1px solid #709dca;
  padding: 15px;
  width: calc(70%);
  border-radius: 4px;
  margin-bottom: 20px;
}
.requests__window .requests__input textarea {
  max-width: calc(70%);
  height: 190px;
}
.requests__window input[type="submit"] {
  margin-top: 30px;
  font-size: inherit;
}
.requests__lamp-new {
  color: white;
  background-color: #f24844;
}
.requests__lamp-delegated {
  color: white;
  background-color: #ffc155;
}
.requests__lamp-accepted {
  color: white;
  background-color: #9dd298;
}
.requests__lamp-done {
  color: white;
  background-color: #00ad5d;
}
.requests__lamp-closed {
  color: inherit;
  background-color: white;
}
.requests__status-show {
  color: #2b5f93;
}
.requests__status-show:active ~ .requests__status,
.requests__status-show:focus ~ .requests__status {
  display: block !important;
}
.requests__status {
  border: 1px solid #2b5f93;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 20px 10px;
  display: none;
  position: absolute;
  background-color: #f4f4f4;
  z-index: 1000;
  width: 550px;
  right: calc(-500%);
}
.requests__status-title {
  color: #2b5f93;
  font-weight: bolder;
  margin-bottom: 25px;
}
.requests__border {
  border: 1px solid #2b5f93;
}
.requests__status-item {
  margin-top: 25px;
  display: flex;
}
.requests__status-item div {
  text-align: left;
}
.requests__status-item div:first-child {
  width: 100px;
  height: inherit;
  margin-right: 30px;
  border-radius: 4px;
}
.requests__status-item div:last-child p {
  margin: 0 0 5px 0;
  font-weight: bolder;
}
.requests__status-item div:last-child span {
  font-style: italic;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .requests__status {
    right: calc(-290%);
  }
  .requests__descrip {
    width: 350px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px), screen and (max-width: 767px) {
  .requests__window-open {
    text-align: center;
  }
}
@media screen and (max-width: 499px), screen and (min-width: 500px) and (max-width: 767px) and (orientation: portrait) {
  .requests {
    margin: 5px;
    width: calc(90%);
  }
  .requests .radio-switcher label {
    display: block !important;
    padding: 10px;
  }
  .requests__window {
    width: 320px;
    margin-left: -180px;
  }
  .requests__window textarea {
    height: 90px !important;
  }
  .requests__status {
    width: 290px;
    right: calc(-105%);
  }
  .requests__status-item div:first-child {
    width: 50px;
  }
  .requests__status-item div:last-child {
    width: 220px;
  }
  .requests__descrip {
    border-left: none !important;
  }
}
