table.edit-table table.citrus-polls-edit-question {
	border-collapse: collapse;
	margin: 0 auto;
}
table.edit-table table.citrus-polls-edit-question td {
    border: 1px solid #cfd6e9;
    text-align: left;
	padding: 3px;
	border-collapse: collapse;
}
table.edit-table table.citrus-polls-edit-question thead td {
	padding: 4px 3px;
	font-weight: bold;
	text-align: center;
}

table.edit-table table.citrus-polls-edit-question .color-picker {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	border: 1px solid black;
	width:16px; height:16px;
}

#vdgb_tszhvote_menu_icon {background-image:url(icons/vdgb.tszhvote/mnu_vote.gif);}
#vdgb_tszhvote_page_icon {background-image:url(icons/vdgb.tszhvote/title.gif);}