#form_chart_rate_button .rate-btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	width: 230px;
	height: 45px;
	overflow: hidden;
	padding: 1px 10px 3px 2px;
	margin: 10px;
	color: #fff;
	border: 1px solid;
	border-radius: 50px;
	position: relative;
	background:  #0191f4;
}

.ptitlechart {
	font-family: Roboto Light;
	font-size: 16px !important;
	color: #000000 !important;
	margin-bottom: 25px;
}

.canvaschart {
	margin-bottom: 10px;
}

a.rollover {
	background: url(images/help_blue.png);
	width: 25px;
	height: 21px;
	display: inline-block;
}
a.rollover:hover {
	background: url(images/help_gray.png);
}

.window_chart {
	z-index: 991;
	background-color: #f4f4f4;
	overflow: hidden;
	left: 50%;
	margin-left: -150px;
	display: none;
	position: absolute;
	width: 680px;
	margin-top: 150px;
	border: 1px solid #565e6a;
}

@media screen and (max-width: 1200px) {
	.window_chart {
		width: 680px;
		left: 50%;
		margin-left: -340px;
	}
}

@media screen and (max-width: 767px) {
	.window_chart {
		width: 320px;
		left: 50%;
		margin-top: 1vh;
		margin-left: -160px;
	}
}

.shadow_chart {
	opacity: 0.1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	width: 100%;
	height: 100%;
	z-index: 98;
	display: none;
}

.hidden {
	display: none;
}

.window__close_chart {
	position: absolute;
	top: 7px;
	right: 7px;
	font-size: 16px;
	color: #ccc;
	transform: scaleY(.8);
	font-weight: 700;
	cursor: pointer;
}

.chart_description {
	margin: 35px;
}

.chart_container {
	background-color: #eff5f9;
	border: 1px solid #e5ecf0;
	margin-bottom: 25px;
}

.icon-btn-round {
	height: 28px;
	width: 28px;
	position: absolute;
	top: 6px;
	display: block;
	padding: 4px;
	background: #ffffff;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 50%;
	box-sizing: border-box;
}

.icon-btn-round-current {
	display: inline-block;
	padding: 10px;
	border-radius: 50%;
	background: #0191f4;
}

.current-white {
	background: white !important;
}

.textdiv {
	display: block;
	margin-left: 38px;
}
