.feedback-error, .feedback-success {

    font-weight:bold;

    padding-top:20px;

    text-align:left;

}

.feedback-error {

    color:red;

}

.feedback-success {

    color:green;

}

.feedback-error  div, .feedback-success {

    padding-bottom:5px;

}

.feedback {

    overflow:hidden;

    float:left;

}

.feedback__title {

    margin-bottom:5px;

}

.window__input.opd {

    height: auto;

    padding-top: 9px;

    padding-left:0;

    border-width: 0;

    background-color: transparent;

}

.window__input-name_pas {

    position: relative;

}

.adm-detail-content-table

{

    width: auto !important;

}

.opd__input-name_pas{

    width:15px !important;
    float: left;


}

.opd__input{

    width: auto !important;

}

.opd__input-name_pas input[type=checkbox] {

    display: block !important;

    opacity:0;

    position: absolute;

    /*right:0;*/
    z-index: 1;

}

.opd__input-opd-err {

    display:none;

    margin-top: 15px;

    color: red;

    text-align: center;

    margin-bottom: 20px;

}

.feedback__title {

    font-size:20px;

    color:#2b5f93;

    margin-top:40px;

    text-align:center;

    font-weight:bold;

}

@media screen and (min-width:768px){

    .feedback__title {

        width:330px;

    }

}

.feedback__form {

    width:330px;

    float:right;

    text-align:center;

}

.feedback__input {

    width:100%;

    height:46px;

    background-color:#ffffff;

    color:#2b5f93;

    font-size:16px;

    margin-top:15px;

    box-sizing:border-box;

    -webkit-border-radius:3px;

    -moz-border-radius:3px;

    border-radius:3px;

    padding-left:20px;

    padding-right:0px;

}

.feedback__input::-webkit-input-placeholder {

    color:#2b5f93;

}

.feedback__input::-moz-placeholder {

    color:#2b5f93;

}

.feedback__textarea {

    width:100%;

    height:125px;

    background-color:#ffffff;

    color:#2b5f93;

    font-size:16px;

    margin-top:15px;

    padding-top:23px;

    resize:none;

    outline:none;

    box-sizing:border-box;

    -webkit-border-radius:3px;

    -moz-border-radius:3px;

    border-radius:3px;

    padding-left:20px;

    padding-right:0px;

}

.feedback__textarea::-moz-placeholder {

    color:#2b5f93;

}

.feedback__textarea::-webkit-input-placeholder {

    color:#2b5f93;

}

.feedback__button {

    height:46px;

    background-color:#ffbb42;

    font-size:16px;

    color:#2b5f93;

    margin:0 auto;

    font-weight:bold;

    cursor:pointer;

    -webkit-border-radius:3px;

    -moz-border-radius:3px;

    border-radius:3px;

    padding-left:60px;

    padding-right:60px;

}

.feedback__checkbutton {

    /*overflow:hidden;*/

    margin-top:15px;

}

.feedback__captcha {

    width:100%;

}

.feedback__captcha td{

    width:50%;

}

.feedback__captcha img{

    width:calc(100% - 5px);

    height:33px;

}

.feedback__captcha input[name="captcha_word"]{

    width:100%;

    height:30px;

}





#feedbackForm .captcha::-webkit-input-placeholder {

    color:#2b5f93;

}

#feedbackForm .captcha::-moz-placeholder {

    color:#2b5f93;

}



input.captcha {

    padding-left:20px;

}



@media screen and (min-width:768px) and (max-width:1199px) {

    .feedback {

        width:50%;

    }

}

@media screen and (max-width:767px) {

    .feedback {

        width:100%;

    }

    .feedback__form {

        width:100%;

        max-width:320px;

        margin:0 auto;

    }

    .feedback__form {

        float:none;

    }

    .feedback__title {

        width:auto;

        margin-top:60px;

        font-size:16px;

    }

    .feedback__input {

        height:40px;

        font-size:14px;

    }

    .feedback__textarea {

        height:105px;

        font-size:14px;

    }

    .feedback__button {

        font-size:14px;

    }

    .information{

        padding-bottom:30px;

    }

    input.captcha {

        padding-left:5px;

    }

    .feedback__confirm {

        font-size:12px;

    }



}



.feedback__confirm {

    text-align:start;

    margin-left:10px;

    margin-right:10px;

    margin-top:8px;

    margin-bottom:20px;

}



.feedback__confirm p{

    margin-top:8px;

}



.feedback__confirm .input-checkbox {

    float:left;

}



.feedback-checkbox input[type=checkbox]+label {

    padding-left:0px !important;

    line-height:18px !important;

}



#feedbackForm {

    top:-55px;

    position:relative;

    padding-top:55px;

}



.feedback-checkbox input[type=checkbox]+label{

    padding-left:0px !important;

    line-height:18px !important

}

.uploadform_files{

    margin-bottom:10px;

    position:relative;

    z-index:0



}

.uploadform_files_field{

    width:100%;

    border:1px dashed #ccc;

    position:relative;

    display:flex;

    flex-wrap:wrap;

    justify-content:center

}

.uploadform_files_field input[type="file"]{

    opacity:0;

    z-index:10;

    position:absolute;

    top:0;

    left:0;

    width:100%;

    height:100%;

    margin:0

}

.error .uploadform_files_field input[type="file"]{

    z-index:-1;

}

.uploadform_files_item{

    width:100%;

    text-align:left;

}

.uploadform_files_item p{

    position:relative;

    display:inline-block;

    z-index:10;

    max-width:95%;

    margin:0 !important

}

.uploadform_files_item span{

    font:400 14px/18px Arial,Helvetica,sans-serif;

    padding:10px 13px 10px 35px;

    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAMAAADH72RtAAAAn1BMVEVHcEz/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAAqMcb6AAAANHRSTlMAToE8VJW5+kOkXY/W4hdmq8SErsp+SFC0eNK8wVhAY+bp8AcJNLByidnMOGoji4rxIgacjJOeEQAAAJZJREFUGBkFwIVxAgEABMBFH3jB3Ym7Xf+1ZQDQLlLMAGCaaljlAMAiHZzTBjikddo27ALYZ/WZfP9YBuin1cuxycY8YJNumTP5kj5M0n3Ou99r/VGlwTCjdp6o8/aaB/Sy7GXLSzr7dHDMTFGyy+kxAyhq7llkMMkKpIRpBsO0gOKCfsbzdAHrXP8uWcsYwOiW24g7gH8usRDplVFcCwAAAABJRU5ErkJggg==) 10px 13px no-repeat;

    white-space:break-spaces;

    word-break:break-all;

    display:block;

    color:#f00;

    filter:grayscale(1) brightness(3)

}

.error .uploadform_files_item span {

    filter:none

}

.uploadform_files_item_delete{

    position:absolute;

    right:-10px;

    top:4px;

    text-decoration:none;

    font-size:20px;

    cursor:pointer;

    color:#ccc !important

}

.error .uploadform_files_item_delete{

    color:#f00 !important

}

.uploadform_files_field > span{

    font-family:Arial,Helvetica,sans-serif;

    color:#ccc;

    position:relative;

    font-size:14px;

    height:31px;

    line-height:30px

}

.uploadform_files_item + span{

    margin-top:10px

}

.uploadform_files_field > span:before{

    content:'+';

    position:absolute;

    left:-29px;

    font-size:32px;

    top:1px

}

.error .uploadform_files_field > span,

.error .uploadform_files_field > span:before{

    opacity:0;

}

.files_error{

    display:none;

    color:#f00

}

.error .files_error{

    display:block

}

.error [type="submit"]{

    cursor:default

}

