.adm-workarea .adm-btn-generator {
    height: 17px !important;
    background-color: #00b9f1 !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), inset 0 1px 0 #00b9f1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), inset 0 1px 0 #00c9f2;
    border: solid 1px;
    border-color: #00b9f1 #00b9f1 #00b9f1;
    background-image: -webkit-linear-gradient(bottom, #00b9f1, #00b9f1) !important;
    background-image: -moz-linear-gradient(bottom, #00b9f1, #00b9f1) !important;
    background-image: -ms-linear-gradient(bottom, #00b9f1, #00b9f1) !important;
    background-image: -o-linear-gradient(bottom, #00b9f1, #00b9f1) !important;
    background-image: linear-gradient(bottom, #00b9f1, #00b9f1) !important;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    padding: 0 13px 2px;
}
.adm-workarea .adm-btn-generator:hover {
    text-decoration: none;
    background: #00B9F1 !important;
    background-image: -webkit-linear-gradient(top, #00c9f2, #00b9f1) !important;
    background-image: -moz-linear-gradient(top, #00c9f2, #00b9f1) !important;
    background-image: -ms-linear-gradient(top, #00c9f2, #00b9f1) !important;
    background-image: -o-linear-gradient(top, #00c9f2, #00b9f1) !important;
    background-image: linear-gradient(top, #00c9f2, #00b9f1) !important;
}
.adm-btn-generator-active {
    text-decoration: none;
    background: #001bf1 !important;
    background-image: -webkit-linear-gradient(top, #00c9f2, #0027f1) !important;
    background-image: -moz-linear-gradient(top, #00c9f2, #0d00f1) !important;
    background-image: -ms-linear-gradient(top, #00c9f2, #1c00f1) !important;
    background-image: -o-linear-gradient(top, #00c9f2, #1c00f1) !important;
    background-image: linear-gradient(top, #00c9f2, #1c00f1) !important;
}
.generator-tooltip-wrapper {
    float: right;
    position: relative;
    top: -24px;
    left: -5px;
    overflow: visible;
    margin: 2px 0 0 0;
    background-color: #fff;
    border-radius: 3px;
    z-index: 1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.71) !important;
}
.generator-tooltip {
    padding: 15px 15px 15px 25px;
    margin: 1px 0;
    float: left;
    background-image: url(/bitrix/themes/.default/icons/citrus.tszhpayment/tooltip-icon.png);
    background-repeat: no-repeat;
    background-position: 0 13px;
}
.generator-triangle-topleft {
    float: left;
    position: relative;
    top: 29px;
    left: -20px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #FFF;
}
.generator-tooltip-close {
    float: right;
    font-size: 10px;
    cursor: pointer;
    padding: 0 5px 0 0;
}
.adm-list-table-top-wrapper {
    vertical-align: inherit;
}