.support-ticket-list th
{
	padding: 5px;
}
.support-ticket-list img {
	border: 0 !important;
}

/*Lamps*/
div.support-lamp
{
	width:14px; height:14px; background-repeat:no-repeat;
	float: left;
	margin-right: 5px;
}

div.support-lamp-red {background-image: url(images/red.gif)}
div.support-lamp-green {background-image: url(images/green.gif)}
div.support-lamp-green-s {background-image: url(images/green_s.gif)}
div.support-lamp-yellow {background-image: url(images/yellow.gif)}
div.support-lamp-grey {background-image: url(images/grey.gif)}

div.support-lamp-new {background-image: url(images/red.gif)}
div.support-lamp-accepted {background-image: url(images/green.gif)}
div.support-lamp-delegated {background-image: url(images/yellow.gif)}
div.support-lamp-done {background-image: url(images/green_s.gif)}
div.support-lamp-declined {background-image: url(images/grey.gif)}
div.support-lamp-closed {background-image: url(images/grey.gif)}


/*Filter*/

table.support-ticket-filter
{
	background-color:#F9FAFB;
	font-size:100%;
	border-collapse:collapse;
}

table.support-ticket-filter th
{
	background-image:url(images/table_head.gif);
	background-repeat:repeat-x;
	text-align: center;
	font-size:100%;
	color:#25639A;
}

table.support-ticket-filter td, table.support-ticket-filter th
{
	padding:3px;
	border:1px solid #ADC3D5;
}

table.support-ticket-filter td
{
	vertical-align: top;
}

/*Hint */

div.support-ticket-hint
{
	font-size:100%;
	line-height: 150%;
	margin: 15px 0 0 0;
}
div.support-ticket-hint .hint-desc {
	font-size: 85%;
	line-height: 100%;
	color: #999;
	margin-bottom: 5px;
}
